@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');


html, body { margin: 0; padding: 0; }
body { background-color: #f7f7f7; display: flex; flex-direction: column; }
a { text-decoration: none; }
button { border: 0; background-color: transparent; }
ul { padding: 0; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#container {
  display: flex;
  flex-direction: column;
}

#container * {
  display: flex;
  font-family: 'NanumSquare', sans-serif;
  font-weight: 300;
}

#container h1,#container h2,#container h3,#container h4 {
  font-weight: 700;
}

@media all and (min-width: 768px) {
  #container {
    align-items: center;
  }
}